@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url(https://esnz-reactweather.netlify.app/static/media/bg.6eb21da7.svg);
  background: linear-gradient(rgb(249, 255, 255) 0%, rgb(56, 200, 230) 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  animation: gradientAnimation 8s infinite alternate;
}

.App {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
